@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap");
@import "../node_modules/reset-css/reset.css";

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Shantell Sans", cursive;
  text-align: center;
  background-color: #294b77;
}
