
*{
    list-style: none;
    margin: 0;
    padding: 0;
  }
body {
    
    background-color: 	#212425;
}
.l {
    width: 100%;
        background: url(./img/undead/UndeadCards.png) 0px 0px;
        list-style: none;
        position: relative;
        position: absolute;
        translate: -50% -50%;
        z-index: -1;
        display: block;
        text-align: center;
        margin: 0 auto;
        background-color: 	#4a5153;
        background-color: 	#057699;
    background: url();
    }